/* HEADER */


header {
    background: var(--black-1) url("../assets/images/background.webp") no-repeat center;
    background-size: cover;
    color: rgb(255, 255, 255);
}


/* NAV */


#nav-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, transparent);
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

#logo {
    width: 25%;
    font-size: 2rem;
}

#nav-list {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover {
    color: rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
}


/* SEARCH */


#nav-search {
    width: 25%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

#nav-search a {
    color: rgb(255, 255, 255);
}

.input-search {
    background-color: transparent;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
}

.input-search:hover,
.input-search:focus {
    color: rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
    cursor: pointer;
}

.search-button {
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    cursor: pointer;
}

.icon-nav {
    font-size: 1.1rem;
    padding: 5px 0px;
    cursor: pointer;
}

.icon-nav:hover {
    color: rgb(200, 200, 200);
}


/* MOBILE */


#mobile-button, 
#nav-list-mobile {
    display: none;
}


/* BANNER */


#banner-header {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
}

#banner-header>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#title-header {
    font-size: 2.5rem;
}

#title-header,
#content-header {
    text-shadow: 0px 0px 10px var(--black-1);
}

#time {
    background-color: rgb(173, 255, 47);
    color: var(--black-1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}


/* MEDIA QUERIES */


@media screen and (max-width: 1170px) {    
    #nav-list,
    #nav-search {
        display: none;
    }

    #nav-header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        position: relative;
        justify-content: space-between;
    }

    #mobile-button {
        display: flex;
        align-items: center;
        color: rgb(255, 255, 255);
        width: 20px;
        height: 23px;
        cursor: pointer;
    }

    #mobile-button-icon {
        pointer-events: none;
    }

    #nav-list-mobile {
        position: absolute;
        right: 0;
        top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: rgb(0, 0, 0, 0.5);
        padding: 20px 0;
        list-style: none;
        z-index: 1;
        opacity: 0;
        transform: translateX(300px);
        transition: all .5s ease;
    }

    #nav-list-mobile.visible-mobile {
        opacity: 1;
        transform: translateX(0px);
    }

    #nav-list-mobile input {
        margin: 0 20px;
    }

    #nav-list-mobile a {
        color: rgb(255, 255, 255);
    }

    .search-button {
        padding-bottom: 0;
    }
}